@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply m-auto
}

/* for removing background from highlight js */
.hljs {
    background-color: transparent !important;
    padding: 0 !important;
}

.toc {
    @apply xl:fixed xl:right-[4rem] text-base xl:top-[4rem]
}

.toc::before {
    content: "Table of contents";
    @apply text-lg font-semibold
}
